@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .text-glow {
    text-shadow: 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
  }
  .text-stroke {
    -webkit-text-stroke: 2px #e6fffa;
    text-stroke: 2px #e6fffa;
  }
}

.photo.landscape {
  width: 450px;
  height: 350px;
}

.photo.portrait {
  height: 450px;
  width: 350px;
}

@media (max-width: 1440px) {
  .photo.landscape {
    width: 300px;
    height: 200px;
  }

  .photo.portrait {
    height: 300px;
    width: 200px;
  }
}

.striped {
  background: linear-gradient(
    to bottom,
    #b2f5ea,
    #b2f5ea 50%,
    #ffffff 50%,
    #ffffff
  );
  background-size: 100% 150px;
}

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}

#root {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#root > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
}

#root > div > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5),
    0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.calendar {
  border: 1px solid black;
}

.react-date-picker__wrapper {
  border-radius: 0.25rem;
  padding: 2rem 4rem;
  border: none;
  background-color: white;
}

/* .react-date-picker__inputGroup {
  flex-grow: 1;
} */
